.table__button {
  border: none;
  border-radius: 50%;
  width: 41%;
  margin-top: -41%;
  background-color: #A6FFFF;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 170%;
  color: #000;
  cursor: pointer;
  transition: transform .3s ease;
}

.table__button:hover {
  transform: scale(1.05);
}

.table__button:active {
  transform: scale(0.95);
}

@media (max-width: 1440px) {
  .table__button {
    font-size: 32px;
  }
}

@media (max-width: 1024px) {
  .table__button {
    font-size: 24px;
  }
}

@media (max-width: 425px) {
  .table__button {
    font-size: 12px;
  }
}